<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Shifty</title>
  <link rel="stylesheet" href="/css/style.css">

  <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="/js/jquery.datepicker.js"></script>
  <script type="text/javascript" src="/js/jquery.sidebar.js"></script>
  <script type="text/javascript" src="/js/handlebars-1.0.0.runtime.js"></script>
  <script type="text/javascript" src="/js/templates.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>
