<svg class="close-button" width="20" height="20">
    <g class="cross">
    <rect x="9" y="0" width="2" height="20" fill="white" />
    <rect x="0" y="9" width="20" height="2" fill="white" />
    </g>
</svg>
<section>
    <h2>Ny barkveld</h2>
    Opprett nye skift for en barkveld.
</section>
<section style="height:270px; overflow:hidden;">
    <header class="row">
        <span class="large-3">Dato</span>
        <span class="large-9 selected-date hidden"></span>
    </header>
    <table class="datepicker">
    </table>
</section>
<section>
    <header>
        Skift
    </header>
    <!--<div class="shift row">
        <span class="large-8">1x Skjenkemester</span>
        <span class="large-4 text-right time">17:00 - 03:00</span>
    </div>-->
    <div class="add-shift">
        + legg til et skift
    </div>
</section>
<section>
    <header>
        Kommentar
    </header>
    <textarea></textarea>
</section>
<section>
    <button id="save-night">Lagre</button>
</section>
